<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/lavish-bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/basic.css">
    <script src="js/lib/jquery-2.1.3.min.js" charset="utf-8"></script>
    <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
    <script src="js/lib/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="js/lib/FileSaver.min.js" charset="utf-8"></script>
    <script src="js/lib/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBMrjmlcM8CcMILDTDqY6E2Tsz3Es6lX7g&callback=mapscallback" type="text/javascript"></script>
    <script src="js/local/helper.js" charset="utf-8"></script>
    <script src="js/local/info.js" charset="utf-8"></script>
    <script src="js/local/OverlayView.js" charset="utf-8"></script>
    <script src="js/local/scott.js" charset="utf-8"></script>

    <script></script>
    <!-- document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');-->
  </head>
  <body>
    <div class='container-fluid'>
      <div class='page-header'>
        <h2> Main map </h2>
      </div>

      <div id='mainmap'></div>
      <div id='mapinfo'>
        <h3 id='address'></h3>
        <p id='nearest_station'></p>
      </div>

      <footer><small>GovHack 2016</small></footer>
    </div>

    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="greenbin" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/greenbin.jpeg"></image>
        </pattern>
    </defs>
    </svg>

    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="illegal" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/illegal.jpg"></image>
        </pattern>
    </defs>
    </svg>

    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="hardhat" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/hardhat.jpg"></image>
        </pattern>
    </defs>
    </svg>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="toxic" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/toxic.jpg"></image>
        </pattern>
    </defs>
    </svg>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="badwater" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/badwater.jpg"></image>
        </pattern>
    </defs>
    </svg>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="water" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/water.png"></image>
        </pattern>
    </defs>
    </svg>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="car" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/car.png"></image>
        </pattern>
    </defs>
    </svg>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="possum" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/possum.jpg"></image>
        </pattern>
    </defs>
    </svg>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="barking" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/barking.png"></image>
        </pattern>
    </defs>
    </svg>
    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="dog" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/dog.jpg"></image>
        </pattern>
    </defs>
    </svg>

    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="road" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/road.png"></image>
        </pattern>
    </defs>
    </svg>

    <svg id="mySvg" width="80" height="80">
      <defs id="mdef">
        <pattern id="question" x="0" y="0" height="40px" width="40px">
          <image x="0" y="0" width="40px" height="40px" xlink:href="img/question.png"></image>
        </pattern>
    </defs>
    </svg>
  </body>

  <script src="js/local/OverlayView.js" charset="utf-8"></script>
  <script>
      var map = new google.maps.Map(d3.select("#mainmap").node(), {
  			zoom: 18,
  			center: new google.maps.LatLng(-33.8150,151.0511),
  			mapTypeId: google.maps.MapTypeId.ROADMAP
  		});
  		//var styles = [ {stylers: [{ hue: '#e0dce8' }, { saturation: -60 }, { lightness: 60}] }];
  		//var styles = [ {stylers: [{ hue: '#9ed3f7' }, { saturation: -50 }, { lightness: 50}] }];
  		var styles = [ {stylers: [{ hue: '#c69788' }, { saturation: -50 }, { lightness: 30}] }];
  		map.setOptions({styles: styles});


      var boundaries = [  {id : 'NW', x: -33.7686404977, y: 150.948070188},
  												{id : 'NE', x: -33.768640497, y: 151.084035131},
  												{id : 'SE', x: -33.8750330367, y: 151.084035131},
  												{id : 'SW', x: -33.8750330367, y: 150.948070188} ];

      var overlay = new OverlayView();
    	overlay.setBoundaries(boundaries);
      overlay.setMap(map);

      var services = [];
      var locations = [];

  </script>

  <script src="js/local/startup.js" charset="utf-8"></script>
</html>
