<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/lavish-bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/page.css">
    <script src="js/lib/jquery-2.1.3.min.js" charset="utf-8"></script>
    <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
    <script src="js/lib/bootstrap-select.min.js" charset="utf-8"></script>
    <script src="js/lib/FileSaver.min.js" charset="utf-8"></script>
    <script src="js/lib/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBMrjmlcM8CcMILDTDqY6E2Tsz3Es6lX7g&callback=mapscallback" type="text/javascript"></script>
    <script src="js/local/helper.js" charset="utf-8"></script>
    <script src="js/local/info.js" charset="utf-8"></script>
    <script src="js/local/OverlayView.js" charset="utf-8"></script>
    <script src="js/local/scott.js" charset="utf-8"></script>

    <script></script>
    <!-- document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');-->
  </head>
  <body>

    <div class='container-fluid'>
      <div class='page-header'>
        <h2> Parramatta City Council Neighbourhood Explorer</h2>
      </div>

        <ul class="nav navbar-nav navbar-left">
          <li>Click anywhere on the map to get started</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><img class="legend" style="opacity:0" src="img\police.png"/> List of Map Legends</li>
              <li role="separator" class="divider"></li>
              <li><img class="legend" src="img\police.png"/> Police Matter</li>
              <li><img class="legend" src="img\car.png"/> Motor Vehicles, Traffic, and Parking </li>
              <li><img class="legend" src="img\garbage.png"/> Illegal Dumping</li>
              <li><img class="legend" src="img\poison.png"/> Pollution and Poisoning Incidents</li>
              <li><img class="legend" src="img\court.png"/> Council Matters and Infringements </li>
              <li><img class="legend" src="img\barking.png"/> Domestic Animals </li>
              <li><img class="legend" src="img\possum.png"/> Feral and Wild Animals</li>
              <li><img class="legend" src="img\greenbin.png"/> Waste Services</li>
              <li><img class="legend" src="img\roadworks.png"/> Major Repairs</li>
              <li><img class="legend" src="img\repair.png"/> Minor Repairs</li>
              <li><img class="legend" src="img\trees.png"/> Trees and Parks </li>
              <li><img class="legend" src="img\water.png"/> Water and Drainage </li>
              <li><img class="legend" src="img\question.png"/> Unclassified </li>
            </ul>
          </li>
        </ul>

      <div id='mainmap'></div>
      <div id='mapinfo'>
        <h3 id='address'></h3>
        <p id='nearest_station'></p>
      </div>

      <footer><small>GovHack 2016</small></footer>
    </div>

  <script src="js/local/OverlayView.js" charset="utf-8"></script>
  <script>
      var map = new google.maps.Map(d3.select("#mainmap").node(), {
  			zoom: 15,
  			center: new google.maps.LatLng(-33.8114,151.0618),
  			mapTypeId: google.maps.MapTypeId.ROADMAP
  		});
  		//var styles = [ {stylers: [{ hue: '#e0dce8' }, { saturation: -60 }, { lightness: 60}] }];
  		//var styles = [ {stylers: [{ hue: '#9ed3f7' }, { saturation: -50 }, { lightness: 50}] }];
  		var styles = [ {stylers: [{ hue: '#c69788' }, { saturation: -50 }, { lightness: 30}] }];
  		map.setOptions({styles: styles});


      var boundaries = [  {id : 'NW', x: -33.7686404977, y: 150.948070188},
  												{id : 'NE', x: -33.768640497, y: 151.084035131},
  												{id : 'SE', x: -33.8750330367, y: 151.084035131},
  												{id : 'SW', x: -33.8750330367, y: 150.948070188} ];

      var overlay = new OverlayView();
    	overlay.setBoundaries(boundaries);
      overlay.setMap(map);

      var services = [];
      var locations = [];

  </script>

  <script src="js/local/startup.js" charset="utf-8"></script>
</html>
