.container {
  margin: 40px 10% 40px 10%;
  max-width: 864px;
  font-family: 'Georgia';
  font-size: large;
  line-height: 150%;

}

.legend {
  height: 20px;
  width: 20px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 8px;
  vertical-align: bottom;
}

.dropdown-menu {
    width: 300px !important;
}
